header{
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg") ;
    background-color: #848E66;
    background-size: 100%;
    padding: 20px;

    
}
section{
    background-color: #808080;

}
h1{
    color: #FFFFFF; 
	text-align: center;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 40px;

}
h2{
    color: #00008b;
    text-transform:uppercase ;
    font-size: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
section {
	background-color: #A9A9A9;
}
nav a{
	display: inline-block;
	margin: 2%;

	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	-o-border-radius: 3;
	border-radius: 5px;

	text-decoration: none;
	padding: 2%;

	color: #000000;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(218,234,213,0.60);
	width:150px;
	height: 20px;
}
.active{
	background-color: #FFFFFF;
	opacity: 1;
}
.left {
	background-color: #848E66;
	width: 24%;
	float:left;
	padding: 5% 0;
}

.right {
	width:74%;
	display: inline-block;
	padding-left: 2%;
}


.left img{
    border: 5px solid black;
    width: 150px;
    margin: 10px;
    
    
}

p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;	
}
table{
    margin:30px 0px 0px 10%;
}
table tr th{
    color:white;
    background: #8FA560;
    padding:12px;
    border-radius:3px 3px 0px 0px;
    border-bottom:4px solid #AAE06B;
    box-shadow: 0px 0px 5px #8FA560;
}
table tr th:first-child{
    text-align: left;
}
table tr td{
    background: #d6ecc8;
    border-radius: 2px;
    padding:10px;
    color: grey;
    font-family: inherit;
    text-align: center;
    opacity:1;
    box-shadow: 0px 0px 6px #d6ecc8;
}
table tr td:first-child{
    text-align: left;
}
table tr td:hover{
    opacity: 1;
    color:darkseagreen;
}

